div.fondo{
    position: absolute;
    background-image: url("/assets/lanscape.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}
div.mascara{
    position: absolute;
    background: rgba(0, 0, 0, 0.6); 
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}
h3{
    color: white;
}
input[type="text"]{
    background: none;
    color: white;
}